.jumbotron {
  font-family: monospace;
  font-size: 500%;
}

body {
  background-color: rgb(207, 207, 207);
}

footer {
  text-align: center;
}

.container {
  text-align: center;
}

p {
  color: red;
  font-style: bold;
}

#warningLetters {
  display: none;
}

#warningNumbers {
  display: none;
}

img {
  height: 300px;
  width: 350px;
  margin: 20px;
  border-radius: 20px;
}

